**/.DS_Store

## Battle
Batttle.net/

## for clash
**/*.mmdb
**/*.dat
**/*.log
**/*.db
**/*.dll

## clash
clash-verge/
clash/

# filezilla
filezilla/*.sqlite3
filezilla/lockfile

# nvim
nvim/lazy-lock.json

# leetgo
leetgo/cache/

# filen
.filen.trash.local/

# siyuan
siyuan/

# qBitorrent
qBittorrent/


## iterm2
iterm2/

## debian, kde
dolphinrc
gwenviewrc
akregatorrc
kateschemarc
katerc
katemetainfos
akonadi
dlv
systemsettingsrc
kwalletrc
korgacrc
baloofileinformationrc
kglobalshortcutsrc
ktimezonedrc
kdeconnect
bluedevilglobalrc
kscreenlockerrc
kactivitymanagerd-statsrc
KDE
session
webengineurlinterceptoradblockrc
xsettingsd
okularpartrc
autostart-scripts
khotkeysrc
arkrc
plasma-nm
ksmserverrc
kxkbrc
powermanagementprofilesrc
user-dirs.locale
kactivitymanagerdrc
kmail2rc
kdeglobals
knfsshare
list.py
dconf
krunnerrc
gtkrc-2.0
Trolltech.conf
kded5rc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
pulse
plasmarc
systemd
gtkrc
user-dirs.dirs
kcminputrc
spectaclerc
konsolerc
kconf_updaterc
katevirc
kwinrc
khtml
kmixrc
kde.org
powerdevilrc
gtk-3.0
plasma-localerc
kwinrulesrc
konquerorrc
lazygit/state.yml
